@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0rem;
}
:root{
    --primary-color:#A5B4FC;
    --grey-color:#D4D4D4;
}

/* container */

.container{
    padding: 0rem 1rem;
}

.container-center{
    max-width: 600px;
    margin: auto;
}

/* links */
.link{
    text-decoration: none;
    padding: 0.5rem 0.5rem; 
}

.link-primary{
    background-color: var(--primary-color);
   border-radius: 0.5rem;
   color: white;
}

.link-secondary{
    border:1px solid var(--primary-color);
    border-radius: 0.5rem;
    color: var(--primary-color);
}

hr{
    margin: 2rem 0rem;;
}

/* list */

.list-no-bullets{
    list-style: none;
}

.list-item-inline{
    display: inline;
    padding: 0rem 1rem;
}

/* nav */

.navigation{
    background-color: var(--primary-color);
    padding: 1rem 1rem;
    color: white;
    border-bottom-left-radius: 1.5rem ;
}

.navigation-link-color{
    color: white;
}

.navigation .nav-brand{
    font-weight: bold;
}

.navigation .link-active{
    font-weight: bold;
}

.navigation ul{
    text-align: right;
}

/* header */

.header{
    padding: 2rem;
}

.header-img{
    max-width:50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header-heading{
    text-align: center;
    font-size: x-large;
    color: var(--grey-color);
    padding-top: 1rem; 
}

.header-heading span{
    color: var(--primary-color);
}

/* section */

.section{
    padding: 1rem;
}

.section h1{
    text-align: center;
}

.section-offwhite{
    background-color: var(--grey-color);
}

/* footer */

.footer{
    background-color: var(--primary-color);
    border-top-right-radius: 1.5rem;
    padding: 2rem 1rem;
    color: white;
}

.footer-list{
    text-align: center;
    padding-inline-start: 0px;
}

.footer-heading{
    text-align: center;
}

.footer .link{
    color: white;
}